# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Sample Tenant provisioning

project_id = "test-project"

project_create_config = {
  billing_account = "XXXXX-XXXXX-XXXXXXX"
  parent          = "folders/12321321"
}

secops_tenant_config = {
  region            = "europe"
  tenant_id         = "tenant"
  tenant_code       = "tenant"
  tenant_subdomains = ["tenant"]
  alpha_apis_region = "eu"
}

# Sample GCP multi-tenant logs, assets, SCC findings ingestion

project_id = "test-project"
project_create_config = {
  billing_account = "XXXXX-XXXXX-XXXXXXX"
  parent          = "folders/12321321"
}
secops_tenant_config = {
  customer_id = "xxxxxxx-xxxxx-xxxxxx-xxxxxxx"
  region      = "europe"
  alpha_apis_region = "eu"
}