/**
 * Copyright 2026 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

billing_project = "tmp-project"
project_id = "bruzz-dev-secops-0"
organization_id = "828467380811"
essential_contacts = []

project_create_config = {
  billing_account = "XXXXXXXXX"
  bootstrap_folder = true
}

# VPC Service Controls configuration
vpc_sc_config = {
  enabled      = true
  scc_enabled  = true
  cmek_enabled = false
}

# CMEK configuration for SecOps
cmek_config = {
  enabled         = false
  location        = "europe"
  keyring_name    = "secops-keyring"
  key_name        = "secops-key"
  rotation_period = "7776000s" # 90 days
}